# Build outputs
*.exe
*.ilk
*.pdb
*.idb
*.res
*.aps

# Logs e temporários
*.tlog/
*.lastbuildstate

# Pastas de build
x64/
Debug/
Release/
packages/
# Configurações locais do Visual Studio
*.user
.vs/
